@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px;
}

.wrapper {
  padding: 20px 80px;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-list, .drop-area {
  display: flex;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  min-height: 100px;
  min-width: 600px;
  margin: 10px 0;
}

.card {
  padding: 10px;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.address-input {
  width: 100%;
}

.collection-input {
  width: 100%;
}