@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px 0;
}

.wrapper {
  padding: 20px 80px;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address {
  display: flex;
  gap: 10px
}

.dnd-wrapper {
  display: flex;
  justify-content: space-between;
  gap:20px;
}

.dnd-item {
  width: 650px;
}

.dnd-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.card-list, .drop-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 270px;
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.nft-card {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.nft-card-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.nft-card-title {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

.nft-card-description {
  font-size: 12px;
}

.address-input {
  width: 100%;
}

.collection-input {
  width: 100%;
}

.image-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.image-item-photo {
  width: 200px;
}

.image-item__btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.modal-header {
  display: flex;
  justify-content: end;
}

.modal-body {
  width: 500px;
  height: 400px;
}

.modal-footer {
  display: flex;
  gap: 20px;
  justify-content: end;
}

.typing-effect {
  font-family: monospace;
  font-size: 16px;
  white-space: pre-wrap;
}

.cursor {
  display: inline-block;
  width: 2px;
  background-color: black;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Apply the shake animation to the div */
.shake {
  animation: shake 0.5s ease-in-out; /* Duration and easing function */
  animation-iteration-count: infinite;
}